* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAEBEF;
  width: 100vw;
  height: 100vh;
}

.SubApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAEBEF;
  width: 600px;
  height: 728px;
  background-color: white;
}

.signup {
  width: 359px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 60px;
}
.Title {
  display: flex;
  width: 600px;
  height: 80px;
  background-color: white;
}

.title-logo {
  width: 90px;
  height: 31px;
  margin-top: 20px;
  margin-left: 10px;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 60px;
}

.form-subTitle {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.form-part {
  display: flex;
  flex-direction: column;
}

.form-textField {
  width: 339px;
  height: 40px;
  border-radius: 5px;
  border-width: 0.3px;
  border-top-color: #EAEBEF;
  margin-bottom: 30px;
  padding-left: 20px;
}

.button {
  width: 359px;
  height: 50px;
  border-radius: 3px;
  background-color: #35C5F0;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 15px;
}

.my-underline {
  text-decoration-line: underline;
}